<!-- About Section -->
<section id="about-me" style="min-height: 650px; padding-top: 50px; padding-bottom: 50px;">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About Me</h2>
        <hr class="moon_wc">
      </div>
    </div>

    <div class="row align-items-center">
      
<!-- Slideshow Column -->
<div class="col-lg-6">
  <div id="aboutCarousel" class="carousel slide" data-ride="carousel" data-interval="4000">
    <div class="carousel-inner">
      <div class="item active">
        <img src="img/about/about_me.webp" class="img-responsive img-centered">
      </div>
      <div class="item">
        <img src="img/about/about_hudeer.webp" class="img-responsive img-centered">
      </div>
      <div class="item">
        <img src="img/about/about_alexa.webp" class="img-responsive img-centered">
      </div>
      <div class="item">
        <img src="img/about/about_derek.webp" class="img-responsive img-centered">
      </div>
      <div class="item">
        <img src="img/about/about_friends.webp" class="img-responsive img-centered">
      </div>
    </div>
  </div>
</div>

      <!-- Text Column -->
      <div class="col-lg-6">
        <div class="about-text-box">
          <p>
            Hello! My name is Neil and I am from Stockton, California. As you'll see, I love learning about our natural universe and uplifting others to the possibilities of science.
            I received my Astrophysics and Physics BA degrees in 2024 and I plan on pursuing higher degrees in astronomy.
            Currently, I am working on publishing my paper on SN 2021ukt and applying for various masters/PhD programs.
          </p>
          <p>
            Feel free to click around my portfolio. Enjoy these pictures of me and friends!
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
