<!-- About Section -->
<section class="success" id="about-me" style="min-height: 650px; padding-top: 50px; padding-bottom: 50px;">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About Me</h2>
        <hr class="moon_full">
      </div>
    </div>

    <div class="row align-items-center">
      
<!-- Slideshow Column -->
<div class="col-lg-6">
  <div id="aboutCarousel" class="carousel slide" data-ride="carousel" data-interval="3000">
    <div class="carousel-inner">
      <div class="item active">
        <img src="img/about_me.jpg" class="img-responsive img-centered" loading="lazy">
      </div>
      <div class="item">
        <img src="img/about_hudeer.jpg" class="img-responsive img-centered" loading="lazy">
      </div>
      <div class="item">
        <img src="img/about_alexa.jpg" class="img-responsive img-centered" loading="lazy">
      </div>
      <div class="item">
        <img src="img/about_derek.jpg" class="img-responsive img-centered" loading="lazy">
      </div>
      <div class="item">
        <img src="img/about_friends.jpg" class="img-responsive img-centered" loading="lazy">
      </div>
    </div>
  </div>
</div>

      <!-- Text Column -->
      <div class="col-lg-6">
        <p>
          Hello! I appreciate you for scrolling this far. My name is Neil and I am from Stockton, California. As you can probably tell by now, I am very passionate about astronomy! I grew up a curious space kid who wanted to become an astronaut. 
          While you won't find orbitting around the Earth, I love learning about our natural universe and uplifting others to the possibilities of science. 
        </p>
        <p>
          I received my Astrophysics and Physics BA degrees in 2024 and I plan on pursuing higher degrees in astronomy.
          Currently, I am working on publishing my paper on SN 2021ukt and applying for various masters/PhD programs.
        </p>
        <p>
          Enjoy these pictures of me and friends!
        </p>
      </div>
    </div>
  </div>
</section>
