<!DOCTYPE html>
<html>
{% include head.html %}

<body id="page-top" class="index">
  {% include nav.html %}
  {% include header.html %}

  <!-- Research Section -->
  {% include research_grid.html %}
  {% include research_modals.html %}

  <!-- Teaching Section -->
  {% include teaching_grid.html %}
  {% include teaching_modals.html %}

  <!-- Mentoring Section -->
  {% include mentoring_grid.html %}
  {% include mentoring_modals.html %}

  <!-- About Me Section -->
  {% include about_me.html %}

  {% include footer.html %}
  {% include js.html %}
</body>

</html>
